apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: pbs-web-hpa # 이름 변경 ⭐
  namespace: default
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: pbs-web # 웹사이트 Deployment를 대상으로 지정 ⭐
  minReplicas: 2
  maxReplicas: 10
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 50 # 웹사이트 CPU가 50% 넘으면 파드 추가