apiVersion: v1
kind: ServiceAccount
metadata:
  name: hybrid-ai-sa
  namespace: default
  annotations:
    eks.amazonaws.com/role-arn: arn:aws:iam::198011705652:role/hybrid-ai-sa-role
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: hybrid-ai-service
  namespace: default
  labels:
    app: hybrid-ai
spec:
  replicas: 1
  selector:
    matchLabels:
      app: hybrid-ai
  template:
    metadata:
      labels:
        app: hybrid-ai
    spec:
      serviceAccountName: hybrid-ai-sa
      containers:
        - name: ai-app
          image: 198011705652.dkr.ecr.ap-northeast-2.amazonaws.com/pbs-project-repo:ai-latest
          imagePullPolicy: Always
          ports:
            - containerPort: 80
          env:
            - name: OLLAMA_URL
              value: "http://api.cloudreaminu.cloud"
            - name: MILVUS_HOST
              # 온프레미스 Milvus 서버 주소
              value: "192.168.10.70"
            - name: S3_BUCKET_NAME
              value: "pbs-project-ai-data-dev-v1"
          # [핵심 수정] 경로를 /health에서 /로 변경하여 404 에러 해결
          readinessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 15
            periodSeconds: 10
          resources:
            requests:
              cpu: "100m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
---
apiVersion: v1
kind: Service
metadata:
  name: hybrid-ai-service
  namespace: default
spec:
  type: LoadBalancer
  selector:
    app: hybrid-ai
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80