apiVersion: apps/v1
kind: Deployment
metadata:
  name: hybrid-ai-service
  namespace: default
spec:
  replicas: 1 # 자원 확보를 위해 1개로 조정
  selector:
    matchLabels:
      app: hybrid-ai
  template:
    metadata:
      labels:
        app: hybrid-ai
    spec:
      serviceAccountName: hybrid-ai-sa
      containers:
        - name: ai-app
          # [수정] 창고 주소를 pbs-project-repo:ai-latest로 통일 ⭐
          image: 198011705652.dkr.ecr.ap-northeast-2.amazonaws.com/pbs-project-repo:ai-latest
          imagePullPolicy: Always
          ports:
            - containerPort: 80
          env:
            # [수정] 온프레미스 AI와 연결되는 유일한 통로 ⭐
            - name: OLLAMA_ADDR
              value: "http://api.cloudreaminu.cloud/ai"
            - name: MILVUS_ADDR
              value: "milvus-standalone.default.svc.cluster.local:19530"
          resources:
            requests:
              cpu: "100m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
---
apiVersion: v1
kind: Service
metadata:
  name: hybrid-ai-service
  namespace: default
spec:
  type: LoadBalancer
  selector:
    app: hybrid-ai
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80