apiVersion: apps/v1
kind: Deployment
metadata:
  name: ai-engine-deployment
  namespace: default
  labels:
    app: ai-engine
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ai-engine
  template:
    metadata:
      labels:
        app: ai-engine
    spec:
      containers:
      - name: ai-engine
        # 리포지토리를 hybrid-service로, 태그를 :ai-latest로 변경했습니다.
        image: 198011705652.dkr.ecr.ap-northeast-2.amazonaws.com/hybrid-service:ai-latest
        imagePullPolicy: Always
        ports:
        - containerPort: 11434

        livenessProbe:
          tcpSocket:
            port: 11434
          initialDelaySeconds: 60
          periodSeconds: 20
        readinessProbe:
          tcpSocket:
            port: 11434
          initialDelaySeconds: 30
          periodSeconds: 10

        resources:
          requests:
            cpu: "100m"
            memory: "2Gi"
          limits:
            cpu: "500m"
            memory: "4Gi"