vi cloudflared-deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: cloudflared
  namespace: cloudflare
spec:
  replicas: 2
  selector:
    matchLabels:
      app: cloudflared
  template:
    metadata:
      labels:
        app: cloudflared
    spec:
      containers:
      - name: cloudflared
        image: cloudflare/cloudflared:latest
        args:
        - tunnel
        - --no-autoupdate
        - run
        - --token
        - {"AccountTag":"5cb7fbd88ad30904bf1b9ee458d36e32","TunnelSecret":"LS6nVkGwk0mCP9xNHNJ64pBQRaAMt4XWjmgqihKrh8I=","TunnelID":"314c6b35-7926-40dc-b271-5780298d197d"