# ---------------------------------------------------------
# 1. 웹 서비스 전용 Service
# ---------------------------------------------------------
apiVersion: v1
kind: Service
metadata:
  name: pbs-web-service
  namespace: default
spec:
  # [수정] pbs-web-service -> pbs-web (Deployment의 label과 일치) ⭐
  selector:
    app: pbs-web
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
  type: ClusterIP

---
# ---------------------------------------------------------
# 2. AI 서비스 전용 Service
# ---------------------------------------------------------
apiVersion: v1
kind: Service
metadata:
  name: hybrid-ai-service
  namespace: default
spec:
  selector:
    app: hybrid-ai
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
  type: ClusterIP