spec:
  hosts:
  - "argocd.soldesk-group4-pbs-project.click" # 서브도메인 부여
  gateways:
  - istio-system/istio-gateway
  http:
  - route:
    - destination:
        host: argocd-server.argocd.svc.cluster.local
        port:
          number: 80