name: Build and Push to ECR

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: 1. 코드 가져오기
      uses: actions/checkout@v4

    - name: 2. AWS 신분증 확인
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ap-northeast-2 

    - name: 3. AWS ECR 로그인
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v2

    - name: 4. 이미지 빌드 및 전송 (Push)
      env:
        ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        ECR_REPOSITORY: pbs-project-repo  # 시크릿 대신 직접 이름을 입력했습니다.
        IMAGE_TAG: latest                # 테스트의 편의를 위해 latest로 고정합니다.
      run: |
        # 이미지를 빌드합니다.
        docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG .
        
        # 빌드된 이미지를 AWS ECR 창고로 실제로 전송합니다.
        docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
        
        echo "✅ ECR 전송 완료! 이제 ArgoCD가 이 이미지를 사용할 수 있습니다."
